<ion-header>
  <ion-toolbar >
    <ion-title class="style-title"> {{nameArticle === "" ? 'Ajout d\'un nouvel Article': 'Mon Article "' + nameArticle + '"' }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<content class="style_AddArticle">
  <form [formGroup]="paramsForm" (ngSubmit)="soumettreFormulaire()">
    <div>
      <label>Nom de l'article* </label>
      <input id="name" formControlName="name"  placeholder="Banane" required >
      
    </div>
    <div>
      <label>Prix*</label>
      <input formControlName="price" placeholder="0" type="number" required>
    </div>
    <div>
      <div class="en_ligne">
        <label>Catégorie* </label>
        <ion-input #input #item (ionInput)="handleInput($event)" type="text"> <img src="../../../assets/search_24dp_FILL0_wght400_GRAD0_opsz24.svg"> </ion-input>
      </div>
      <ion-list [hidden]="categoryList.length <= 0" >
        <ion-item (click)="selected(item, input)" *ngFor="let item of categoryList">
          {{ item }}
        </ion-item>
      </ion-list>
      <input formControlName="categorie" placeholder="Fruit" required>
    </div>
    <button class="addArticle" type="submit" [disabled]="!paramsForm.valid" expand="full"> {{nameArticle !== "" ? "Mettre à jour":"Ajouter votre article" }}</button>
    <button (click)="close()"><div  class="noAdd" > Ne pas ajouter d'article</div></button>
  </form>
</content>