
.style-btn{
    background-color: #fff2d9;
    border-radius: 30px;
    }

.style-footer{
    background-color: #fb7950;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    padding: 5px;
}