<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ma list de course
    </ion-title>
  </ion-toolbar>
  <div id="top-screen">
    <div id="info-top-screen">NB d'article </div>
    <div id="info-top-screen"> € Total</div>
  </div>
</ion-header>
<ion-content color="light">
  <ion-list [inset]="true">
    <ion-item *ngFor="let articles of ListArticle">
      <ion-checkbox slot="start" aria-label="Toggle task completion"> </ion-checkbox>
      <ion-input aria-label="Task name" value=" {{articles.Article}}"> </ion-input>
      <ion-text> {{articles.qte}} </ion-text>
    </ion-item>
  </ion-list>
</ion-content>