* {
    color: rgb(32, 32, 32);
}

app-tab1 {
    background-color: aquamarine;
}

#top-screen {
    display: flex;
    justify-content: space-between;
}

#info-top-screen {
    padding: 10px 10px;
    margin: 10px 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px rgb(255, 210, 238);
    color: rgb(152, 81, 19);
    background-color: antiquewhite;
}

#list {
    padding: 2%;
}

#imgHeader {
    background-image: url(/../../assets/fuirt\ et\ legume.jpg);
    background-size: 65%;

}