<ion-card>
  <ion-header>

    <h4 size="large">Total zones</h4>
    <ion-item>
      <ion-label position="floating">Nombre de zones à brosser</ion-label>
      <ion-input placeholder="Enter text"></ion-input>
    </ion-item>
  </ion-header>
  <ion-header>

    <h4 size="large">Quand changer de Zones ? </h4>
    <ion-item>
      <ion-label position="floating">La durée du brossage apr zones</ion-label>
      <ion-input placeholder="Enter text"></ion-input>
    </ion-item>
  </ion-header>
  <ion-header>

    <h4 size="large">Pour qui ?</h4>
    <ion-item>
      <ion-label position="floating">ton prénom</ion-label>
      <ion-input placeholder="Enter text"></ion-input>
    </ion-item>
  </ion-header>
</ion-card>